prac 0 - 
1. Create a program that takes user input and determines its data type.

In [51]:
# Take user input
user_input = input("Enter something: ")

# Determine and print the data type
print(f"The data type of the input is: {type(user_input)}")

The data type of the input is: <class 'str'>

2. Write a program to perform arithmetic operations on two user-input numbers

In [52]:
# Take two user inputs
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform and display arithmetic operations
print(f"Addition: {num1 + num2}")
print(f"Subtraction: {num1 - num2}")
print(f"Multiplication: {num1 * num2}")
print(f"Division: {num1 / num2 if num2 != 0 else 'Error! Division by zero.'}")

ValueError: could not convert string to float: ''

3. create a program that uses all comparison operators and prints the results for two user-input numbers.

In [3]:
# Take two user inputs
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Perform and display comparison operations
print(f"num1 == num2: {num1 == num2}")
print(f"num1 != num2: {num1 != num2}")
print(f"num1 > num2: {num1 > num2}")
print(f"num1 < num2: {num1 < num2}")
print(f"num1 >= num2: {num1 >= num2}")
print(f"num1 <= num2: {num1 <= num2}")

num1 == num2: False
num1 != num2: True
num1 > num2: False
num1 < num2: True
num1 >= num2: False
num1 <= num2: True

4. Program that takes three user-input numbers and calculates their average

In [4]:
# Take three user inputs
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Calculate and display the average
average = (num1 + num2 + num3) / 3
print(f"The average of the three numbers is: {average}")

The average of the three numbers is: 4.0

5. Program that takes the principal amount, rate of interest, and time period from the user and calculates the simple interest

In [5]:
# Take user inputs for principal, rate of interest, and time period
principal = float(input("Enter the principal amount: "))
rate_of_interest = float(input("Enter the rate of interest (in percentage): "))
time_period = float(input("Enter the time period (in years): "))

# Calculate simple interest
simple_interest = (principal * rate_of_interest * time_period) / 100
print(f"The simple interest is: {simple_interest}")

The simple interest is: 23000.0

prac 1 - 
1. WAP to demonstrate the if, elif, else loop

In [6]:
# Take user input
number = float(input("Enter a number: "))

# Check conditions using if, elif, else
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is positive.

2. WAP to demonstrate the for loop

In [7]:
# Using a for loop to print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

3. WAP to print the following pattern

In [8]:
rows = 5

for i in range(rows, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [9]:
n=5

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [10]:
n=3

for i in range(1,n+1):
    print('*' * i)
    
for i in range(n-1,0,-1):
    print('*' * i)

*
**
***
**
*

4. WAP to demonstrate the use of break, pass, and continue in a while loop

In [11]:
# Demonstrating break, pass, and continue in a while loop

counter = 0
while counter < 10:
    counter += 1
    if counter == 5:
        print("Breaking the loop at 5")
        break  # Break the loop when counter is 5
    elif counter == 3:
        print("Skipping number 3")
        continue  # Skip the rest of the loop when counter is 3
    else:
        print(f"Current counter value: {counter}")

Current counter value: 1
Current counter value: 2
Skipping number 3
Current counter value: 4
Breaking the loop at 5

5. Write a program to calculate the electricity bill (accept number of units from the user)

In [12]:
# Program to calculate electricity bill

units = int(input("Enter the number of units consumed: "))

if units <= 100:
    bill = 0
elif units <= 200:
    bill = (units - 100) * 5
else:
    bill = (100 * 5) + (100 * 10) + ((units - 200) * 15)

print(f"Your electricity bill is: Rs {bill}")

Your electricity bill is: Rs 0

6. Write a Python program to count the number of even and odd numbers in a series of numbers

In [13]:
# Counting even and odd numbers in a series

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even_count = 0
odd_count = 0

for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(f"Number of even numbers: {even_count}")
print(f"Number of odd numbers: {odd_count}")

Number of even numbers: 4
Number of odd numbers: 5

7. Write a Python program that iterates through the integers from 1 to 50. For multiples of three, print "Fizz", for multiples of five print "Buzz", and for numbers that are multiples of both three and five, print "FizzBuzz".

In [14]:
# FizzBuzz program for numbers from 1 to 50

for num in range(1, 51):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

exp 2 -
1.Create a string variable s with the value "Hello World" and print its length

In [15]:
# Create a string variable
s = "Hello World"

# Print the length of the string
print("Length of the string:", len(s))

Length of the string: 11

2.	Convert the string "Python Programming" to lowercase and print it.

In [16]:
# Original string
s = "Python Programming"

# Convert to lowercase and print
print(s.lower())

python programming

3.	Concatenate the strings "Data" and "Science" with a space in between and print the result.

In [17]:
# Strings to concatenate
str1 = "Data"
str2 = "Science"

# Concatenate with space in between and print
result = str1 + " " + str2
print(result)

Data Science

4.Remove all leading and trailing whitespace from the string " Data Analysis " and print it.

In [18]:
# Original string with leading and trailing spaces
s = " Data Analysis "

# Remove leading and trailing whitespace and print
print(s.strip())

Data Analysis

5.	Check if the string "level" is a palindrome (reads the same forwards and backwards) and print the result

In [19]:
# String to check
s = "level"

# Check if the string is equal to its reverse
if s == s[::-1]:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

6.	WAP to print all even length words in a string

In [20]:
# Input string
s = "This is a sample string with some even length words"

# Split the string into words
words = s.split()

# Loop through each word and check if its length is even
for word in words:
    if len(word) % 2 == 0:
        print(word)

This
is
sample
string
with
some
even
length

7.	WAP to print number of cvc (consonant-vowel-consonant) pairs in each string

In [21]:
# Function to count CVC pairs
def count_cvc_pairs(s):
    vowels = "aeiou"
    count = 0
    
    # Loop through the string to check every 3 consecutive characters
    for i in range(len(s) - 2):  # -2 to avoid index out of range
        # Check if the pattern is consonant-vowel-consonant
        if s[i].isalpha() and s[i+1].isalpha() and s[i+2].isalpha():
            if s[i].lower() not in vowels and s[i+1].lower() in vowels and s[i+2].lower() not in vowels:
                count += 1
                
    return count

# Input string
s = "This is an example string"

# Call the function and print the result
print("Number of CVC pairs:", count_cvc_pairs(s))

Number of CVC pairs: 3

8.	Reverse the string ‘Hello’ only using string slicing

In [22]:
# Original string
s = "Hello"

# Reverse the string using slicing
reversed_s = s[::-1]

# Print the reversed string
print(reversed_s)

olleH

9.	WAP to remove more than 2 successive occurrences of the same alphabet in a sentence, example: “India is theeee besssst” must be made “India is the best”

In [23]:
# Function to remove more than 2 successive occurrences of the same character
def remove_extra_characters(sentence):
    result = []
    count = 1  # Track the consecutive occurrences of a character

    for i in range(1, len(sentence)):
        if sentence[i] == sentence[i - 1]:
            count += 1
        else:
            count = 1  # Reset count if the character changes
        
        if count <= 2:
            result.append(sentence[i - 1])

    # Append the last character of the string
    result.append(sentence[-1])
    
    # Join the list into a string and return the result
    return ''.join(result)

# Input sentence
sentence = "India is theeee besssst"

# Call the function and print the result
result = remove_extra_characters(sentence)
print(result)

India is thee besst

10.	WAP to find minimum number of rotations to obtain actual string. Example:  
given string is “lohel” actual string is “hello” thus 2 rotations as l,o has to be rotated to the right to get actual string.

In [24]:
# Function to find the minimum number of rotations to get the actual string
def min_rotations_to_match(string, target):
    n = len(string)
    
    # Loop through all possible rotations
    for i in range(n):
        # Rotate the string by slicing and comparing with target string
        rotated = string[i:] + string[:i]
        
        # Check if the rotated string matches the target
        if rotated == target:
            return i  # Return the number of rotations
    
    return -1  # If no match is found

# Example input
string = "lohel"
target = "hello"

# Call the function and print the result
rotations = min_rotations_to_match(string, target)
print(f"Minimum rotations needed: {rotations}")

Minimum rotations needed: 2

11.	WAP to trim leading and trailing whitespaces from the string.

In [25]:
# Function to trim leading and trailing whitespaces
def trim_whitespaces(s):
    return s.strip()

# Example input
s = "   Hello, World!   "

# Call the function and print the result
trimmed_string = trim_whitespaces(s)
print(f"Trimmed string: '{trimmed_string}'")

Trimmed string: 'Hello, World!'

12.	WAP to extract and display a substring using slicing based on user-specified start and end indices.

In [26]:
# Function to extract a substring using slicing
def extract_substring(s, start, end):
    # Extract substring using slicing
    return s[start:end]

# Input string
s = input("Enter the string: ")

# User input for start and end indices
start = int(input("Enter the start index: "))
end = int(input("Enter the end index: "))

# Call the function and print the result
substring = extract_substring(s, start, end)
print(f"Extracted substring: '{substring}'")

Extracted substring: ' is '

13.	WAP to count the number of words in the string.

In [27]:
# Function to count the number of words in a string
def count_words(s):
    # Split the string into words using spaces and count the number of words
    words = s.split()
    return len(words)

# Input string
s = input("Enter the string: ")

# Call the function and print the result
word_count = count_words(s)
print(f"Number of words in the string: {word_count}")

Number of words in the string: 6

14.	WAP to split the string into a list of words and then join them back into a single string with a user-defined delimiter.

In [28]:
# Input string from the user
s = input("Enter the string: ")

# Split and join the string back
result = ' '.join(s.split())

# Output the result
print(f"Resulting string: '{result}'")

Resulting string: 'thank you for your service'

15.	WAP to allow the user to input multiple values (e.g., name, age, city) and format them into a sentence using placeholders.

In [29]:
# Get user inputs for name, age, and city
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")

# Format the inputs into a sentence using placeholders
sentence = "My name is {}, I am {} years old, and I live in {}.".format(name, age, city)

# Output the formatted sentence
print(sentence)

My name is harsh, I am 31 years old, and I live in dubai.

16.	WAP to display the frequency of each character in the string.

In [30]:
# Function to display the frequency of each character
def character_frequency(s):
    # Create an empty dictionary to store character counts
    freq = {}
    
    # Loop through each character in the string
    for char in s:
        # If the character is already in the dictionary, increment its count
        if char in freq:
            freq[char] += 1
        else:
            # Otherwise, add the character to the dictionary with count 1
            freq[char] = 1
            
    # Display the frequency of each character
    for char, count in freq.items():
        print(f"'{char}': {count}")

# Input string from the user
s = input("Enter the string: ")

# Call the function to display frequency
character_frequency(s)

'w': 1
'h': 2
'a': 1
's': 9
' ': 2
'u': 1
'p': 3
'b': 1
'i': 1
't': 1
'c': 1
'e': 1

17.	Write a python program to takes a list of words, reverses the order of the words, and then joins them into a single string with a hyphen - as the separator.

In [31]:
# Function to reverse words and join them with a hyphen
def reverse_and_join(words):
    # Reverse the list of words and join them with a hyphen
    return '-'.join(reversed(words))

# Input: List of words
words = input("Enter the list of words separated by space: ").split()

# Call the function and print the result
result = reverse_and_join(words)
print(f"Reversed string: {result}")

Reversed string: tall-is-giraffe

prac 3 - 
1.  Create a list of the first 10 positive integers and print the sum of the even numbers in the list.

In [3]:
# Create a list of the first 10 positive integers
numbers = list(range(1, 11))

# Calculate the sum of even numbers in the list using a list comprehension
even_sum = sum([num for num in numbers if num % 2 == 0])

# Output the result
print(f"Sum of even numbers in the list: {even_sum}")

Sum of even numbers in the list: 30

2.  Given the tuple (10, 20, 30, 40, 50), use slicing to print a new tuple containing only the last three elements.

In [4]:
# Given tuple
t = (10, 20, 30, 40, 50)

# Slicing to get the last three elements
last_three_elements = t[-3:]

# Output the new tuple
print(last_three_elements)

(30, 40, 50)

3.  Create a set of the numbers {1, 2, 3, 4, 5} and compute the intersection with {4, 5, 6, 7}; print the result.

In [5]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7}

# Compute the intersection of the two sets
intersection = set1 & set2

# Output the result
print(intersection)

{4, 5}

4.  Define a dictionary with the keys 'a', 'b', and 'c' and their respective values 1, 2, and 3, then update the value for key 'b' to 10 and print the updated dictionary.

In [6]:
# Define the dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Update the value for key 'b' to 10
my_dict['b'] = 10

# Output the updated dictionary
print(my_dict)

{'a': 1, 'b': 10, 'c': 3}

5.  Using a list comprehension, create a list of squares for the numbers from 1 to 5 and print the resulting list.

In [7]:
# List comprehension to create a list of squares from 1 to 5
squares = [x**2 for x in range(1, 6)]

# Output the resulting list
print(squares)

[1, 4, 9, 16, 25]

6.  Create a tuple with elements 'cat', 'dog', and 'bird', then check and print whether 'dog' is in the tuple.

In [8]:
# Create the tuple
animals = ('cat', 'dog', 'bird')

# Check if 'dog' is in the tuple
is_dog_in_tuple = 'dog' in animals

# Output the result
print(is_dog_in_tuple)

True

7.  Given the list [1, 1, 2, 3, 5, 8, 13], convert it to a set and print the set’s length.

In [9]:
# Given list
my_list = [1, 1, 2, 3, 5, 8, 13]

# Convert the list to a set to remove duplicates
my_set = set(my_list)

# Output the length of the set
print(len(my_set))

6

8. Create two dictionaries {'A': [1, 2], 'B': [3, 4]} and {'B': [5, 6], 'C': [7, 8]}, then merge them into one dictionary and print the result.

In [10]:
# Define the two dictionaries
dict1 = {'A': [1, 2], 'B': [3, 4]}
dict2 = {'B': [5, 6], 'C': [7, 8]}

# Merge the dictionaries
merged_dict = {**dict1, **dict2}

# Output the merged dictionary
print(merged_dict)

{'A': [1, 2], 'B': [5, 6], 'C': [7, 8]}

9.  For the list [3, 5, 7, 3, 5, 9, 3], create a dictionary to count the occurrences of each element and print the dictionary.

In [11]:
# Given list
my_list = [3, 5, 7, 3, 5, 9, 3]

# Create a dictionary to count occurrences using a loop
occurrences = {}

for num in my_list:
    if num in occurrences:
        occurrences[num] += 1
    else:
        occurrences[num] = 1

# Output the dictionary
print(occurrences)

{3: 3, 5: 2, 7: 1, 9: 1}

10. Define a tuple (1, 2, 3, 4, 5) and find the maximum and minimum values in the tuple; print both values.

In [12]:
# Define the tuple
my_tuple = (1, 2, 3, 4, 5)

# Find the maximum and minimum values
max_value = max(my_tuple)
min_value = min(my_tuple)

# Output the results
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")

Maximum value: 5
Minimum value: 1

11. Given a list of integers [12, 15, 18, 20, 22, 25, 30], calculate and print the variance using the statistics module.

In [13]:
import statistics

# Given list of integers
numbers = [12, 15, 18, 20, 22, 25, 30]

# Calculate the variance
variance = statistics.variance(numbers)

# Output the result
print(f"Variance: {variance}")

Variance: 36.904761904761905

12. Create a dictionary where keys are product names and values are their sales numbers; calculate and print the total sales across all products.

In [14]:
# Create a dictionary with product names and their sales numbers
sales_data = {
    'Product A': 150,
    'Product B': 200,
    'Product C': 100,
    'Product D': 50
}

# Calculate the total sales by summing the values of the dictionary
total_sales = sum(sales_data.values())

# Output the result
print(f"Total sales across all products: {total_sales}")

Total sales across all products: 500

13. From a list of temperatures [22, 25, 19, 30, 28, 32, 26], find and print the highest and lowest temperatures using the max () and min() functions.

In [15]:
# Given list of temperatures
temperatures = [22, 25, 19, 30, 28, 32, 26]

# Find the highest and lowest temperatures
highest_temp = max(temperatures)
lowest_temp = min(temperatures)

# Output the results
print(f"Highest temperature: {highest_temp}")
print(f"Lowest temperature: {lowest_temp}")

Highest temperature: 32
Lowest temperature: 19

14. Create a list of tuples representing student scores [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')] and print the name of the student with the highest score.

In [16]:
# List of tuples representing student scores
student_scores = [(90, 'Alice'), (85, 'Bob'), (88, 'Charlie')]

# Find the student with the highest score
top_student = max(student_scores, key=lambda x: x[0])

# Output the result
print(f"Student with the highest score: {top_student[1]}")

Student with the highest score: Alice

15. Given a list of numbers [2, 4, 6, 8, 10], compute and print the cumulative sum of the list using a loop.

In [17]:
# Given list of numbers
numbers = [2, 4, 6, 8, 10]

# Initialize a variable to store the cumulative sum
cumulative_sum = 0

# Loop through the list and calculate the cumulative sum
for num in numbers:
    cumulative_sum += num
    print(cumulative_sum)

2
6
12
20
30

16. Create a list of squares for numbers 1 through 10 using a list comprehension.

In [18]:
# List comprehension to create a list of squares for numbers 1 through 10
squares = [x**2 for x in range(1, 11)]

# Output the resulting list
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

17. Create a list that replaces every number divisible by 3 with "Fizz", every number divisible by 5 with "Buzz", and numbers divisible by both with "FizzBuzz", for numbers 1 through 15

In [19]:
# List comprehension to replace numbers based on divisibility rules
result = [
    "FizzBuzz" if x % 3 == 0 and x % 5 == 0 
    else "Fizz" if x % 3 == 0 
    else "Buzz" if x % 5 == 0 
    else x
    for x in range(1, 16)
]

# Output the resulting list
print(result)

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

18. Create a list of numbers from 1 to 100 that are divisible by both 2 and 5.

In [20]:
# List comprehension to find numbers divisible by both 2 and 5
divisible_by_2_and_5 = [x for x in range(1, 101) if x % 2 == 0 and x % 5 == 0]

# Output the resulting list
print(divisible_by_2_and_5)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

19. Write a program that takes a dictionary where each value is a list and converts it into a dictionary where each value is a set containing the unique elements from the original list.

In [21]:
# Given dictionary with lists as values
original_dict = {
    'a': [1, 2, 3, 2, 1],
    'b': [4, 5, 6, 5, 4],
    'c': [7, 8, 9, 7, 9]
}

# Convert lists to sets (removing duplicates)
converted_dict = {key: set(value) for key, value in original_dict.items()}

# Output the resulting dictionary
print(converted_dict)

{'a': {1, 2, 3}, 'b': {4, 5, 6}, 'c': {8, 9, 7}}

 
20. Write a program that takes two dictionaries and returns a set of keys that are present in the first dictionary but not in the second.

In [22]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2 = {'b': 2, 'd': 4, 'e': 5}

# Find the keys present in dict1 but not in dict2
keys_in_dict1_not_in_dict2 = set(dict1.keys()) - set(dict2.keys())

# Output the result
print(keys_in_dict1_not_in_dict2)

{'c', 'a'}

 
21. Write a function that takes two sets of tuples and returns a tuple containing three sets: 
Elements that are in both sets. 
Elements that are only in the first set. 
Elements that are only in the second set.

In [23]:
def compare_sets(set1, set2):
    # Elements that are in both sets (intersection)
    intersection = set1 & set2
    
    # Elements that are only in the first set (difference)
    only_in_set1 = set1 - set2
    
    # Elements that are only in the second set (difference)
    only_in_set2 = set2 - set1
    
    # Return the result as a tuple of three sets
    return (intersection, only_in_set1, only_in_set2)

# Example sets of tuples
set1 = {(1, 2), (3, 4), (5, 6)}
set2 = {(3, 4), (7, 8), (9, 10)}

# Call the function and print the result
result = compare_sets(set1, set2)
print(result)

({(3, 4)}, {(1, 2), (5, 6)}, {(9, 10), (7, 8)})

 
22. Write a program that takes a list of sets and returns a single set that is the union of all the sets in the list.

In [24]:
def union_of_sets(list_of_sets):
    # Use set union to combine all sets in the list
    result_set = set().union(*list_of_sets)
    return result_set

# Example list of sets
sets_list = [{1, 2, 3}, {3, 4, 5}, {5, 6, 7}]

# Call the function and print the result
result = union_of_sets(sets_list)
print(result)

{1, 2, 3, 4, 5, 6, 7}

23. Write a program that takes a list of tuples and rotates each tuple by a given number of positions. For example, rotating (1, 2, 3, 4) by 2 positions would result in (3, 4, 1,2).

In [25]:
def rotate_tuple(tup, positions):
    # Rotate the tuple by slicing and concatenating
    return tup[positions:] + tup[:positions]

def rotate_tuples_in_list(list_of_tuples, positions):
    # Apply rotation to each tuple in the list
    return [rotate_tuple(tup, positions) for tup in list_of_tuples]

# Example list of tuples
tuples_list = [(1, 2, 3, 4), (5, 6, 7, 8), (9, 10, 11, 12)]

# Number of positions to rotate each tuple
positions = 2

# Call the function and print the result
result = rotate_tuples_in_list(tuples_list, positions)
print(result)

[(3, 4, 1, 2), (7, 8, 5, 6), (11, 12, 9, 10)]

24. Write a program that takes a list of tuples where each tuple contains integers and returns the tuple with the highest sum of its elements.

In [26]:
def tuple_with_highest_sum(list_of_tuples):
    # Use max() with key to find the tuple with the highest sum of elements
    return max(list_of_tuples, key=sum)

# Example list of tuples
tuples_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 20)]

# Call the function and print the result
result = tuple_with_highest_sum(tuples_list)
print(result)

(10, 20)

EXPERIMENT 4 ---------------



Q1. Define a function multiply(x, y) that returns the product of x and y

In [27]:
def multiply(x, y):
    return x * y

2. Write a function is_even(num) that returns True if num is even, and False otherwise.

In [28]:
def is_even(num):
    return num % 2 == 0

3. Create a function concat_strings(s1, s2) that returns the concatenation of s1 and s2.

In [29]:
def concat_strings(s1, s2):
    return s1 + s2

4. Define max_of_two(a, b) that returns the larger of a and b.

In [30]:
def max_of_two(a, b):
    return a if a > b else b

5. Write a recursive function count_down(n) that prints numbers from n down to 1.

In [31]:
def count_down(n):
    if n > 0:
        print(n)
        count_down(n - 1)

6. Create a recursive function sum_of_list(lst) that returns the sum of all elements in the list lst.

In [32]:
def sum_of_list(lst):
    if len(lst) == 0:
        return 0
    return lst[0] + sum_of_list(lst[1:])

7. Define a recursive function find_max(lst) that returns the maximum value in the list lst.

In [33]:
def find_max(lst):
    if len(lst) == 1:
        return lst[0]
    else:
        max_rest = find_max(lst[1:])
        return lst[0] if lst[0] > max_rest else max_rest

8. Write a function reverse_list(lst) that reverses the list lst using recursion.

In [34]:
def reverse_list(lst):
    if len(lst) == 0:
        return lst
    return reverse_list(lst[1:]) + [lst[0]]

9. Create a recursive function string_length(s) that returns the length of the string s.

In [35]:
def string_length(s):
    if s == "":
        return 0
    return 1 + string_length(s[1:])

10. Define power(base, exp) that calculates base raised to the power of exp using recursion.

In [38]:
def power(base, exp):
    if exp == 0:
        return 1
    return base * power(base, exp - 1)

11. Write a recursive function print_pattern(n) that prints a pattern of * in n rows.

In [39]:
def print_pattern(n):
    if n > 0:
        print('*' * n)
        print_pattern(n - 1)

12. Create a recursive function factorial(n) that returns the factorial of n.

In [40]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

13. Write a function that merges two dictionaries. The merger should handle cases where the dictionaries have overlapping keys by storing values in a list.

In [41]:
def merge_dicts(dict1, dict2):
    result = dict1.copy()
    for key, value in dict2.items():
        if key in result:
            result[key] = [result[key], value] if isinstance(result[key], list) else [result[key], value]
        else:
            result[key] = value
    return result

14. Write program using lambda function to display numbers divisible by 9 from the given list.

In [42]:
nums = [1, 9, 18, 27, 30, 45, 50]
div_by_9 = list(filter(lambda x: x % 9 == 0, nums))
print(div_by_9)

[9, 18, 27, 45]

15. Write a Python program to sort a list of tuples using Lambda.

In [43]:
tuples = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

16. Write a Python program to find the intersection of two given arrays using Lambda.

In [44]:
arr1 = [1, 2, 3, 5, 7, 8, 9, 10]
arr2 = [1, 2, 4, 8, 9]
intersection = list(filter(lambda x: x in arr1, arr2))
print(intersection)

[1, 2, 8, 9]

17. Write a Python program to add two given lists using map and lambda.

In [45]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list(map(lambda x, y: x + y, list1, list2))
print(result)

[5, 7, 9]

18. Write a Python program to remove all elements from a given list present in another list using lambda.

In [46]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
result = list(filter(lambda x: x not in list2, list1))
print(result)

[1, 3, 5, 7, 9, 10]

19. (a) Read the total marks of 5 students and convert it to the percentage.
(b) Filter the top 3 students' percentage.

In [47]:
marks = {'Alice': 450, 'Bob': 400, 'Charlie': 350, 'David': 480, 'Eva': 420}
total_marks = 500
percentages = {name: (marks / total_marks) * 100 for name, marks in marks.items()}

# Get top 3 students
top_3_students = sorted(percentages.items(), key=lambda x: x[1], reverse=True)[:3]
print(top_3_students)

[('David', 96.0), ('Alice', 90.0), ('Eva', 84.0)]

20. (a) In the list of numbers from 1 to 20, replace multiples of 3 with "Fizz", multiples of 5 with "Buzz", and multiples of both 3 and 5 with "FizzBuzz". Use the lambda function to get the task done.

In [48]:
numbers = list(range(1, 21))
result = list(map(lambda x: "FizzBuzz" if x % 3 == 0 and x % 5 == 0 else ("Fizz" if x % 3 == 0 else ("Buzz" if x % 5 == 0 else x)), numbers))
print(result)

numbers = [3, 5, 8, 10, 12]
sum_numbers = sum(numbers)
average = sum_numbers / len(numbers)
print(f"Sum: {sum_numbers}, Average: {average}")

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz']
Sum: 38, Average: 7.6

21. Write a Python program to count the occurrences of items in a given list using lambda.

In [49]:
from collections import Counter
nums = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
occurrences = dict(Counter(nums))
print(occurrences)

{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

EXPERIMENT 5 -- 

1. Extract unique words from text, ignoring case and punctuation, and return a sorted list.

In [ ]:
import re

def extract_unique_words(text):
    words = re.findall(r'\b\w+\b', text.lower())  # Extract words and ignore case
    return sorted(set(words))

# Example usage
text = "Hello world! Welcome to the world of Data Science."
print(extract_unique_words(text))

2. Identify and count distinct named entities using regular expressions.

In [ ]:
import re

def count_named_entities(text):
    named_entities = re.findall(r'\b[A-Z][a-z]*\s[A-Z][a-z]*\b|\b[A-Z][a-z]*\b', text)
    entity_count = {entity: named_entities.count(entity) for entity in set(named_entities)}
    return entity_count

# Example usage
text = "Barack Obama was born in Hawaii. Google is a major tech company."
print(count_named_entities(text))

3. Extract and normalize all dates in YYYY-MM-DD format.

In [ ]:
import re
from datetime import datetime

def extract_dates(text):
    date_pattern = r'(\d{2})[-/](\d{2})[-/](\d{4})'
    matches = re.findall(date_pattern, text)
    dates = [datetime.strptime(f'{y}-{m}-{d}', '%Y-%m-%d').date().strftime('%Y-%m-%d') for d, m, y in matches]
    return dates

# Example usage
text = "The event is scheduled for 12/31/2024 and the deadline is 01-15-2024."
print(extract_dates(text))

4. Extract key-value pairs from structured text and return them as a dictionary.

In [ ]:
import re

def extract_key_value_pairs(text):
    pattern = r'(\w+):\s?([\w\s]+)'
    pairs = dict(re.findall(pattern, text))
    return pairs

# Example usage
text = "name: John Doe; age: 30; profession: Data Scientist"
print(extract_key_value_pairs(text))

5. Extract and format phone numbers in (XXX) XXX-XXXX format.

In [ ]:
import re

def extract_phone_numbers(text):
    phone_pattern = r'(\d{3})[-\s]?\d{3}[-\s]?\d{4}'
    phone_numbers = re.findall(phone_pattern, text)
    formatted_numbers = [f"({num[:3]}) {num[3:6]}-{num[6:]}" for num in phone_numbers]
    return formatted_numbers

# Example usage
text = "Contact me at 1234567890 or 987-654-3210."
print(extract_phone_numbers(text))

6. Detect and extract currency amounts, converting them to numeric format.

In [ ]:
import re

def extract_currency(text):
    currency_pattern = r'\$\s?([\d,]+\.\d{2}|\d+)'
    amounts = re.findall(currency_pattern, text)
    return [float(amount.replace(',', '')) for amount in amounts]

# Example usage
text = "The price is $1,234.56 and $789.00 for the additional items."
print(extract_currency(text))

7. Extract email addresses from a specific domain (e.g., @example.com).

In [ ]:
import re

def extract_emails(text, domain="@example.com"):
    email_pattern = rf'\b[A-Za-z0-9._%+-]+{domain}\b'
    return re.findall(email_pattern, text)

# Example usage
text = "Please contact us at support@example.com or sales@otherdomain.com."
print(extract_emails(text))

8. Extract ISBN numbers from a text.

In [ ]:
import re

def extract_isbn(text):
    isbn_pattern = r'\b\d{3}[-]\d{1}[-]\d{2}[-]\d{6}[-]\d{1}\b'
    return re.findall(isbn_pattern, text)

# Example usage
text = "The books have ISBN numbers like 978-3-16-148410-0 and 978-0-306-40615-7."
print(extract_isbn(text))

9. Extract URLs from text and distinguish between different types.

In [ ]:
import re

def extract_urls(text):
    url_pattern = r'(https?://[^\s]+|ftp://[^\s]+)'
    return re.findall(url_pattern, text)

# Example usage
text = "Visit our sites at http://example.com, https://secure-site.org, and ftp://files.example.net."
print(extract_urls(text))

10. Clean and preprocess text by removing HTML tags, unnecessary whitespace, and converting special characters.

In [ ]:
import re
from html import unescape

def clean_text(text):
    text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    text = re.sub(r'\s+', ' ', text)  # Remove extra spaces
    text = unescape(text)  # Convert special characters to plain text
    return text.strip()

# Example usage
text = "Hello <b>World</b>! This is a <a href='http://example.com'>link</a>."
print(clean_text(text))

11. Extract and sort all numerical values from a text.

In [ ]:
import re

def extract_sorted_numbers(text):
    numbers = re.findall(r'\d+', text)
    return sorted(map(int, numbers))

# Example usage
text = "The quantities are 12 apples, 2 oranges, and 25 bananas."
print(extract_sorted_numbers(text))

12. Extract hashtags, mentions, and URLs from a social media post.

In [ ]:
import re

def extract_social_media_data(text):
    hashtags = re.findall(r'#\w+', text)
    mentions = re.findall(r'@\w+', text)
    urls = re.findall(r'https?://[^\s]+', text)
    
    return {
        'hashtags': hashtags,
        'mentions': mentions,
        'urls': urls
    }

# Example usage
text = "Check out #DataScience and @JohnDoe's post at http://example.com! #AI"
print(extract_social_media_data(text))